body {
    margin: 0;
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../Assets/b-bg.jpg);
    opacity: 0.25;
    z-index: -1;
  } 
  /* nav container css */
  nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 6px rgb(180, 171, 171), 0 2px 4px rgba(192, 184, 184, 0.753);
      z-index: 1;
      border-radius: 0px 0px 10px 10px;
  }
  
  /* bottom border css */
  nav::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 12px;
      border-bottom-left-radius: 50% 10px;
      border-bottom-right-radius: 50% 10px;
      box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
      z-index: -1;
  }
  
  /* naviggation inner container */
  .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      height: 60px;
      position: relative; /* Add relative positioning */
      z-index: 2; /* Increase z-index */
  }
  
  /* name/logo in nav */
  .nav-container .brand {
      padding: 0 0 0 100px;
  }
  .nav-container .brand h1 a{
    text-decoration: none;
    color: black;
  }
  
  /* list of menus in nav */
  .nav-container .menu-list {
      display: flex;
      align-items: center;
      padding: 0 100px 0 0;
  }
  
  /* list of the menus every menu text */
  .nav-container .menu-list li {
      position: relative;
      list-style: none;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 20px;
  }
  
  .nav-container .menu-list li a {
      color: black;
      text-decoration: none;
      white-space: nowrap;
      height: 100%;
      text-transform: uppercase;
  }
  .nav-container .menu-list li a:hover{
    color: lightblue;
  }
  .nav-container .menu-list .plans-p{
      position: relative;
      padding: 20px 5px;
  }
  .plans-p svg{
      height: 10px;
      padding-left: 5px;
  }
  .dropdown-menu {
      display: none;
      position: absolute;
      left:0;
      top:58px;
      background-color: lightblue;
      padding: 8px;
      z-index: 1;
    }
    
    .plans-p:hover .dropdown-menu,
    .dropdown-menu:hover {
      color: lightblue;
      display: block;
    }
    
    .dropdown-menu li {
      margin-bottom: 4px;
    }
    
    .dropdown-menu li a {
      color: white;
      text-decoration: none;
      padding: 4px 8px;
    }
    
    .dropdown-menu li a:hover {
      background-color: darkblue;
    }
    
    .plans-p:hover .dropdown-menu {
      display: block;
    }
    
  
    .nav-container .menu-list .signin-signup button{
      border: 1px solid #fff;
      border-radius: 20px;
      padding:10px 20px;
      background-color: lightblue;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      /* padding: 5px; */
    }
  
    .nav-container .menu-list .signin-signup button:hover{
      border: 1px solid lightblue;
      background-color: #fff;
      color: rgb(66, 156, 197);
    }
    
    .nav-container .menu-list .signin-signup .signup-btn{
      border-radius: 0px 20px 20px 0px;
    }

    .bus-b-container{
        background-color: #0f4c81;
        margin-top: 3rem;
        width: 100%;
        height: 60vh;
      }

      .headin-bus-b-con{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 20px 0 20px;
        color: white;
      }
 /* inner box train search and book */
  .inner-search-tr{
    position: relative;
    top: 0%;
    left: 10%;
    background-color: #E8FFCE;
    width: 80%;
    height: 14rem;
    border-radius: 15px;
  }
  
  /* train booking container */
  .book-train{
    /* display:flex; */
    /* justify-content: space-around; */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 80px;
  }
  .book-train .book-t-in-f-t{
    display: flex;
    align-items: center;
  }

/* search container from and to*/
  .station-search{
    /* border: 2px solid #e1e7ee; */
    border-radius: 8px;
    height: 72px;
    background: #fff;
    cursor: pointer;
    position: relative;
    padding: 16px 18px 15px;
  }

    /* text inside search container */
    .station-search p{
        font-family: Quicksand;
        font-size: 14px;
        display: inline-flex;
        font-weight: 700;
        color: #777;
        position: absolute;
        padding: 0 4px;
        left: 14px;
        top: -10px;
        background-color: #fff;
      }

  .station-search input{
    /* display: flex;
    align-items: center; */
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    /* color: #c2c2c2; */
    color: black;
    padding:15px 40px;
}
/* symbol or icon in the middle of fromand to */
.double-sym{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    border-radius: 12px;
    background-color: #fff;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    bottom: 5px;
    padding: 8px;
}
/* search button  */
.search-train p{
  font-family: Quicksand;
  font-size: 20px;
  /* display: inline-flex; */
  font-weight:600;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 63%);
  position: absolute;
  bottom: -10px;
  left: 44%;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid #00000078;
  background-color: #4682A9;
  cursor: pointer;
}
.search-train p:hover{
  border: 1px solid #4682A9;
 background-color: #fff;
 color: #0f4c81;
}

.bus-dates{
    border-radius: 0;
    margin-right: 0;
    transition: all 0.2s linear;
}

.bus-dates label{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
}